<div th:fragments="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/student/portal">
            <span class="stu-blue">|Student</span>
            <span class="black"> Portal|</span>
        </a>
        <a class="navbar-brand" href="/student/portal/account">
            <span class="stu-blue">|Account|</span>
        </a>
        <a class="navbar-brand" href="/student/portal/courses">
            <span class="stu-blue">|Courses|</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    </nav>
</div>